#if (!$entries.isEmpty())
	#set ($layoutTag = $theme.getLayoutTag())
	#silently($layoutTag.doStartTag())

	#foreach ($entry in $entries)
		#set ($columnTag = $theme.getColumnTag())
		$columnTag.setColumnWidth(25)
		#silently($columnTag.doStartTag())

		#set ($layoutURL = $portalUtil.getLayoutURL($entry, $themeDisplay))
		<h3 class="root-page">
			<a href="$layoutURL">$entry.getName($locale)</a>
		</h3>

		#set ($childPages = $entry.getChildren())
		#if (!$childPages.isEmpty())
			<ul class="child-pages">
				#foreach ($child in $childPages)
					#set ($childLayoutURL = $portalUtil.getLayoutURL($child, $themeDisplay))
					<li>
						<a href="$childLayoutURL">$child.getName($locale) ($child.getChildren().size())</a>
					</li>
				#end
			</ul>
		#end
		#silently($columnTag.doEndTag())
	#end

	#silently($layoutTag.doEndTag())
#end