#set ($assetTagService = $serviceLocator.findService("com.liferay.portlet.asset.service.AssetTagService"))

#if (!$entries.isEmpty())
	#set ($classNameId = $getterUtil.getLong($classNameId, 0))
	#set ($groupId = $themeDisplay.getScopeGroupId())
	#set ($tagURL = $renderResponse.createRenderURL())

	<ul class="tag-items tag-list">
		#foreach ($entry in $entries)
			#set ($tagName = $entry.getName())

			$tagURL.setParameter("resetCur", "true")
			$tagURL.setParameter("tag", $tagName)

			#if ($classNameId > 0)
				#set ($count = $assetTagService.getTagsCount($groupId, $classNameId, $tagName))
			#else
				#set ($count = $assetTagService.getTagsCount($groupId, $tagName))
			#end

			<li>
				<a href="$tagURL">$tagName ($count)</a>
			</li>
		#end
	</ul>
#end